
body {
    font-family: sans-serif;
    background-color: #303030;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    background-color: #292929;
    color: #ffff;
    padding: 4px;
    text-align: left;
    text-decoration: none;
}


h1 {
    margin: 0;
    padding: 6px;
    font-size: large;
    display:inline-block;
}

a {
    margin: 0;
    padding: 4px;
    font-size: large;
    text-decoration: none;
    
}

a:link {
    color: rgb(199, 196, 196);
}

a:active {
    text-decoration: underline;
    text-decoration-color: whitesmoke
}


main {
    padding: 20px;
}

article {
    background-color: #303030;
    color: #ffff;
    padding: 20px;
    border-radius: 8px;
    text-align: left;
    margin: auto;
    max-width: 800px;
;
}

footer {
    background-color: #303030;
    color: #ffff;
    padding: 10px;
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
}